.footer {
  display: flex;
  transition: 0.5s ease-out;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 3rem;
  background-color: $aside-menu-phone-bgc;

  .footer__wrapper {
    display: flex;
    @media (min-width: 1024px) {
      margin-left: $aside-menu-width-big-screen;
    }
  }

  .footer__content {
    margin: 0 10px;
  }
}

.footer.--dark {
  background-color: $aside-menu-phone-bgc-dark;
}
