.projects {
  margin-bottom: $margin-bottom-section;

  .projects__header {
    margin: $margin-headers;
  }

  //light theme
  .card,
  .card-element {
    background-color: $aside-menu-phone-bgc;
    backdrop-filter: blur(5px);
  }
  
  //dark theme
  .card.--dark,
  .card-element.--dark {
    background-color: rgba(102, 102, 102, 0.158);
  }
  .card-header.--dark {
    background-color: rgba(85, 85, 85, 0.288);
    backdrop-filter: blur(5px);
  }
}
