.projects {
  margin-bottom: $margin-bottom-section;

  .projects__header {
    margin: $margin-headers;
  }

  .projects__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .accordion-button.--dark {
      color: $accordion-button-active-bg;
      background-color: $accordion-button-active-color;
    }

    .accordion-button {
      color: red;
      background-color: khaki;
    }

    .accordion-item.--dark {
      background-color: #666;
    }
  }
}
