.projects {
  margin-bottom: $margin-bottom-section;

  .projects__header {
    margin: $margin-headers;
  }

  //light theme
  .accordion-item {
    background-color: $aside-menu-phone-bgc;
    backdrop-filter: blur(5px);

    .accordion-button {
      background-color: rgba(210, 210, 210, 0.288);
      backdrop-filter: blur(5px);
    }

    .accordion-button:not(.collapsed) {
      color: inherit;
      background-color: $aside-menu-phone-bgc;
      backdrop-filter: blur(5px);
    }
  }

  //dark theme

  .accordion-item.--dark {
    background-color: rgba(102, 102, 102, 0.158);
    backdrop-filter: blur(5px);

    .accordion-button.--dark {
      color: $accordion-button-active-color;
      background-color: $accordion-button-bg-dark;
    }
    .accordion-button.--dark:not(.collapsed) {
      // color: inherit;
      background-color: rgba(85, 85, 85, 0.288);
      backdrop-filter: blur(5px);
    }
  }
}
