@import "variables";
@import "asideMenu";
@import "info-page";
@import "about";
@import "projects";
@import "skills";
@import "contact";
@import "footer";
@import "_background";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  font-size: $font-size;
  overflow-x: hidden;
  font-size: 1.2rem;
  line-height: 2rem;
  color: $font-color;
  .--dark {
    color: $font-color-dark;
  }
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 200vw;
  height: 200vh;

  // background: $bgc-linear-gradient;
  // background-size: 200% 200%;
  // animation: gradient 10s ease infinite;
}

// @keyframes gradient {
//   0% {
//     background-position: 0% 50%;
//   }
//   50% {
//     background-position: 100% 50%;
//   }
//   100% {
//     background-position: 0% 50%;
//   }
// }

// .background.--dark {
//   background: $bgc-linear-gradient-dark;
//   background-size: 200% 200%;
//   animation: gradient 5s ease infinite;
// }

main {
  padding: 0 $padding-phone;
  transition: 0.5s ease-out;
  color: $font-color;

  @media (min-width: 1024px) {
    margin-left: $aside-menu-width-big-screen;
  }

  .--dark {
    color: $font-color-dark;
  }
}
