@import "variables";
@import "asideMenu";
@import "info-page";
@import "about";
@import "projects";
@import "skills";
@import "contact";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: $font-size;
  overflow-x: hidden;
  font-size: 1.2rem;
  line-height: 2rem;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 200vw;
  height: 200vh;

  background: linear-gradient(-45deg, #ebc8a0, #f3eef0, #c0cdd1, #545355);
  background-size: 200% 200%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  padding: 0 $padding-phone;
  transition: 0.5s ease-out;

  @media (min-width: 1024px) {
    margin-left: $aside-menu-width-big-screen;
  }
}
