<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap"
      rel="stylesheet"
    />
    <title>Aplikacja</title>
  </head>

  <body>
    <div class="background"></div>
    <div class="menu__hamburger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="bi bi-three-dots-vertical menu__hamburger-svg"
        viewBox="0 0 16 16"
      >
        <path
          d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
        />
      </svg>
    </div>
    <nav class="menu">
      <ul class="menu__list">
        <li class="menu__list-element">
          <a href="/" class="menu__list-element-link">About</a>
        </li>
        <li class="menu__list-element">
          <a href="/" class="menu__list-element-link">Projects</a>
        </li>
        <li class="menu__list-element">
          <a href="/" class="menu__list-element-link">Skills</a>
        </li>
        <li class="menu__list-element">
          <a href="/" class="menu__list-element-link">Contact</a>
        </li>
      </ul>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          checked
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >Theme</label
        >
      </div>
      <!-- <div class="menu__socials-wrapper">
        <div class="menu__socials-content">git</div>
        <div class="menu__socials-content">linked</div>
      </div> -->
    </nav>

    <main class="app">
      <section class="intro-page">
        <h1 class="intro-page__title">Hello! <span>My name is Filip</span></h1>
        <p class="info-page__content">Front-end Developer</p>
      </section>
      <article class="about">
        <div class="about__wrapper">
          <h1 class="about__header">Some info about me</h1>
          <p class="about__personal-info">
            My name is Filip Sojecki and I started my journey to become Junior
            Front-End Developer about year ago. During this time i've learned a
            lot and programming became my passion. I spend all my free time to
            improve my skills and discover new technologies.
          </p>
          <p class="about__character-info">
            As a person, im really humble and positive. I love physical exercise
            (graduate PE student), traveling and of course computer science. At
            this moment I live in Bielsko-Biała.
          </p>
        </div>
      </article>
      <article class="projects">
        <h1 class="projects__header">Some of me projects</h1>
          <div class="accordion" id="accordionExample">
            <template id="projects__template">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Accordion Item #1
                  </button>
                </h2>
                <div
                  id="collapseOne"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample"
                >
                  <div class="accordion-body">
                    <strong>This is the first item's accordion body.</strong> It
                    is shown by default, until the collapse plugin adds the
                    appropriate classes that we use to style each element. These
                    classes control the overall appearance, as well as the showing
                    and hiding via CSS transitions. You can modify any of this
                    with custom CSS or overriding our default variables. It's also
                    worth noting that just about any HTML can go within the
                    <code>.accordion-body</code>, though the transition does limit
                    overflow.
                  </div>
                  <div class="d-flex justify-content-around">
                    <a class="btn btn-primary my-3" id="git" target="_blank" role="button">Link for git</a>
                    <a class="btn btn-primary my-3" id="demo" target="_blank" role="button">Demo</a>

                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </article>
      <article class="skills">
        <h1 class="skills__header">My techstack</h1>
        <div class="skills__wrapper">
          <div class="skills__element">
            <img src="images/html5.png" alt="html5" class="skills__image" />
          </div>
          <div class="skills__element">
            <img src="images/scss.png" alt="scss" class="skills__image" />
          </div>
          <div class="skills__element">
            <img src="images/js.png" alt="js" class="skills__image" />
          </div>
          <div class="skills__element">
            <img src="images/react.png" alt="react" class="skills__image" />
          </div>
          <div class="skills__element">
            <img
              src="images/bootstrap.png"
              alt="bootstrap"
              class="skills__image"
            />
          </div>
          <div class="skills__element">
            <img
              src="images/firebase.png"
              alt="firebase"
              class="skills__image"
            />
          </div>
          <div class="skills__element">
            <img src="images/gsap.png" alt="gsap" class="skills__image" />
          </div>
          <div class="skills__element">
            <img
              src="images/styled-components.png"
              alt="styled-components"
              class="skills__image"
            />
          </div>
        </div>
      </article>
      <article class="contact">
        <h1 class="contact__header">Get in touch</h1>
        <div class="contact__wrapper">
          <form
            class="contact__form"
            action="https://formsubmit.io/send/6826c46e-a3f6-44be-b312-249d32576c1f"
            method="POST"
          >
            <input name="_formsubmit_id" type="text" style="display: none" />
            <input
              name="_redirect"
              type="hidden"
              id="redirect"
              value="https://google.pl"
            />
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="name"
                aria-describedby="name"
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="email"
              />
            </div>
            <div class="mb-3">
              <label for="message" class="form-label">Message</label>
              <input
                type="text"
                name="message"
                class="form-control"
                id="message"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </article>
    </main>
    <footer class="footer">
      <div class="footer__wrapper">
        <p class="footer__content">Bielsko,Biała</p>
        <p class="footer__content">git</p>
        <p class="footer__content">email</p>
      </div>
    </footer>
  </body>
</html>
