* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: contain;
  user-select: none;
  overflow-x: hidden;
}

.App {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

input {
  cursor: pointer;
}
